@import "../../styles/common";

.export {
  &__btn {
    float: right;
    width: 22px;
    height: 32px;
    border-radius: 50%;
    margin: 2px 0;
    padding: 0 5px;
    text-align: center;

    &:hover {
      @include themify($themes) {
        background-color: themed("lightPrimary");
      }
    }
  }
}