@import "common";

html,
body {
  height: 100vh;
  line-height: 2;
  letter-spacing: 2px;
}

.app {
  @include themify($themes) {
    background-color: themed("backgroundColor");
    color: themed("primaryText");
  }
}

header {
  height: 5vh;
  width: 100vw;
}

main {
  height: 90vh;
  width: 100vw;
}

footer {
  height: 5vh;
  width: 100vw;
}