$themes: (
  purple: (
    darkPrimary: #7B1FA2,
    lightPrimary: #E1BEE7,
    primary: #9C27B0,
    accent: #607D8B,
    text: #FFFFFF,
    primaryText: #212121,
    secondaryText: #757575,
    backgroundColor: #FFFFFF
  ),
  amber: (
    darkPrimary: #FFA000,
    lightPrimary: #FFECB3,
    primary: #FFC107,
    accent: #607D8B,
    text: #FFFFFF,
    primaryText: #212121,
    secondaryText: #757575,
    backgroundColor: #FFFFFF
  ),
  pink: (
    darkPrimary: #C2185B,
    lightPrimary: #F8BBD0,
    primary: #E91E63,
    accent: #607D8B,
    text: #FFFFFF,
    primaryText: #212121,
    secondaryText: #757575,
    backgroundColor: #FFFFFF
  ),
  indigo: (
    darkPrimary: #303F9F,
    lightPrimary: #C5CAE9,
    primary: #3F51B5,
    accent: #607D8B,
    text: #FFFFFF,
    primaryText: #212121,
    secondaryText: #757575,
    backgroundColor: #FFFFFF
  ),
  teal: (
    darkPrimary: #00796B,
    lightPrimary: #B2DFDB,
    primary: #009688,
    accent: #607D8B,
    text: #FFFFFF,
    primaryText: #212121,
    secondaryText: #757575,
    backgroundColor: #FFFFFF
  ),
  cyan: (
    darkPrimary: #0097A7,
    lightPrimary: #B2EBF2,
    primary: #00BCD4,
    accent: #607D8B,
    text: #FFFFFF,
    primaryText: #212121,
    secondaryText: #757575,
    backgroundColor: #FFFFFF
  ),
);
