$themes: (
  light: (),
  dark: (),
  default: (
    darkPrimary: #0097A7,
    lightPrimary: #B2EBF2,
    primary: #00BCD4,
    accent: #607D8B,
    text: #FFFFFF,
    primaryText: #212121,
    secondaryText: #757575,
    backgroundColor: #BDBDBD
  ),
);
